/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

/* Global */
body {
    background-color: #b91547;
}

h2 {
    color: white;
    text-transform: uppercase;
    padding: 25px 0px;
}

h3 {
    color: black;
    text-align: start;
    padding-top: 15px;
    text-transform: uppercase;
}

button {
    background-color: lightgray;
    margin: 20px 9px;
    font-weight: bold;
    color: #b91547;
    padding: 10px 5px;
}

/* Classes */
.container {
    background-color: white;
    width: 80%;
    margin: 0 auto;
    border-radius: 10px;
}

.flex {
    display: flex;
}

.center {
    justify-content: center;
}

.space {
    justify-content: space-evenly;
}

.violetto {
    color: #b91547;
}

.bold {
    font-weight: bold;
}

.bg-gray{
    background-color: gray;
}

.containerTicket {
    margin: 0px 15px;
    padding: 10px 0px;
}

.p-30 {
    padding-bottom: 30px;
}